<p>
  <mat-toolbar color="primary">
    <mat-icon>terrain</mat-icon> Sandberg on Codeberg
  </mat-toolbar>
</p>

<div class="middle-stuff">
  <p>
    <span>x</span>
    <span>+</span>
    <span>toffer</span>
    <span>+</span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">code</mat-icon>
    <span>+</span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">terrain</mat-icon>
    <span>=</span>
    <span class="cberg">Christoffer <strong>Codeberg</strong></span>
  </p>
</div>