mat-toolbar {
    mat-icon {
        margin-right: 10px;
    }
}

.middle-stuff {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80%;

    p {
        width: 40%;
        height: 100px;

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;

        * {
            transform: scale(1.3);
        }

        .cberg {
            padding-left: 20px;
            color: rgba(0, 0, 0, 0.5);
            text-shadow: 0 0 2px rgba(0, 0, 0, 1.0);
            font-size: 1.2em;
        }
    }
}